
\.idea/

env/

__pycache__/

object_detection/__pycache__/

object_detection/core/__pycache__/

object_detection/protos/__pycache__/

object_detection/utils/__pycache__/

object_detection/saved_models/ssd_inception_v2_*/

object_detection/saved_models/rfcn_resnet101_*/

*.mp4

*.avi

test\.py

stereo_camera_calibration/capture/left/

stereo_camera_calibration/capture/right/

stereo_camera_calibration/capture_img/
